
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel='stylesheet' href='/stylesheets/main.css'/>
  </head>
  <body>
    <header></header>
    <main></main>
    <footer></footer>
    <script type="text/javascript" src="javascripts/session.js"></script>
    <h1>The Holiday Cook-Off</h1>
    <script src='javascripts/templates.js'></script>
    <script src='javascripts/xhrIndex.js'></script>
    </body>
</html>
